# ===============================
# Client (React / Vite)
# ===============================
client/node_modules/

# ===============================
# Server (Spring Boot / Maven)
# ===============================
server/target/
